@import url('https://fonts.googleapis.com/css?family=Lato|Pacifico|Righteous|Roboto+Condensed|Ubuntu');

body {
    padding: 0;
    margin: 0;
    font-family: 'Lato';
}

.navbar-brand {
    font-family: 'Pacifico';
    font-size: 35px;
    color: #30b9f0 !important;
}

.nav-link {
    font-size: 20px;
    margin: 15px;
    color: black !important;
    font-family: 'Roboto Condensed';
}

.nav-link:hover {
    color: #00a9a9 !important;
}

.active .nav-link {
    color: #00a9a9 !important;
}

.site-content {
    background-image: url("../images/nature.jpg");
    background-attachment: fixed;
    background-size: cover;
}

.site-title, .site-desc {
    color: #000000;
    font-family: 'Righteous';
}

.site-title {
    margin-top: 30%;
    margin-bottom: 6%;
    font-size: 50px;
}

.site-btn1 {
    margin-left: 10%;
    background-color: black;
    color: white;
}

.site-btn2 {
    background-color: white;
    margin-left: 10%;
}

.site-btn1, .site-btn2 {
    margin-top: 5%;
}

.d-flex .flex-row {
    margin-bottom: 10%;
}

/* SECTION-1 */

.section-1 {
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: rgba(255, 255, 255, 0.95);
}

.section-1 .heading-2 {
    margin-bottom: 5%;
    font-size: 39px;
}

.section-1 .para-1 {
    width: 60%;
    margin-left: 20%;
    margin-bottom: 5%;
}

.section-1 .card-text, .para-1 {
    color: rgba(0,0,0,0.60);
}

.section-1 {
    margin-bottom: 8%;
}

.card {
    width: 20rem;
}

/* END SECTION-1 */

/* SECTION-2 */

.section-2 .container-fluid {
    background-image: url("../images/grass.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.section-2 .heading-1 {
    margin-top: 20%;
    margin-bottom: 4%;
    font-family: 'Righteous';
    width: 80%;
    color: #000000;
}

.section-2 .para {
    width: 80%;
    font-family: 'Ubuntu';
    color: #000000;
    margin-bottom: 7%;
    font-weight: bold;
}

.section-2 .btn {
    margin-bottom: 15%;
    width: 30%;
    padding: 2% 5%;
    color: whitesmoke;
    font-weight: bold;
}

/* END SECTION-2 */

/*  SECTION-3 */

.section-3 {
    margin-top: 6%;
}

.section-3 i {
    color: #00a9a9;
}

.section-3 p {
    color: rgba(0,0,0,0.60);
}

/* END SECTION-3*/

/* SECTION-4 */

.section-4 {
    margin-top: 8%;
}

.section-4 .row .col-md-7, .col-md-5 {
    margin-top: 10%;
    margin-bottom: 10%;
}

.section-4 a {
    color: #00a9a9;
    font-size: 40px;
    text-decoration: none;
}

.section-4 .para-1 {
    color: white;
    font-family: 'Roboto Condensed';
    margin-top: 7%;
    font-size: 23px;
}

/* END SECTION-4 */

/* MEDIA QUERIES*/

@media screen and (max-width: 1198px) {
    .section-1 .card {
        width: 18rem;
    }

    .section-4 .col-md-7 img {
        width: 500px;
    }
}

@media screen and (max-width: 956px) {
    .section-1 .card {
        width: 15rem;
    }

    .section-4 .col-md-7 img {
        width: 400px;
    }
}

@media screen and (max-width: 730px) {
    .section-1 .card {
        width: 30rem;
        margin-top: 5%;
        margin-left: 5%;
    }

    .section-4 .col-md-7 img {
        width: 500px;
    }
}

@media screen and (max-width: 575px) {
    .section-1 .card {
        width: 30rem;
        margin-left: 5%;
        margin-top: 5%;
    }

    .section-4 .col-md-7 img {
        width: 100%;
    }
}

@media screen and (max-width: 414px) {

    .site-title, .site-desc{
        margin-left: 10%;
    }

    .section-1 .card {
        width: 20rem;
        margin-left: 13%;
    }

    .section-4 .col-md-7 img {
        width: 100%;
    }
}

@media screen and (max-width: 375px) {

    .site-title, .site-desc{
        margin-left: 10%;
    }

    .section-1 .card {
        width: 20rem;
        margin-left: 5%;
    }

    .section-4 .col-md-7 img {
        width: 100%;
    }
}

@media screen and (max-width: 320px) {

    .site-title, .site-desc{
        margin-left: 10%;
    }

    .section-1 .card {
        width: 16rem;
        margin-top: 5%;
        margin-left: 5%;
    }

    .section-4 .col-md-7 img {
        width: 100%;
    }
}

