@import url('https://fonts.googleapis.com/css?family=Lato|Pacifico|Righteous|Roboto+Condensed|Ubuntu');

body {
    padding: 0;
    margin: 0;
    font-family: 'Lato';
}

.navbar-brand {
    font-family: 'Pacifico';
    font-size: 35px;
    color: #30b9f0 !important;
}

.nav-link {
    font-size: 20px;
    margin: 15px;
    color: black !important;
    font-family: 'Roboto Condensed';
}

.nav-link:hover {
    color: #00a9a9 !important;
}

.active .nav-link {
    color: #00a9a9 !important;
}

.site-content {
    background-image: url("../images/art.jpg");
    background-attachment: fixed;
    background-size: cover;
}

.site-title, .site-desc {
    color: #ffffff;
    font-family: 'Righteous';
}

.site-title {
    margin-top: 20%;
    margin-bottom: 20%;
    font-size: 50px;
}


.gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%; }
.gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease; }
.gallery .animation {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }

@media (max-width: 450px) {
    .gallery {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
        column-width: 100%;
    }
}

@media (max-width: 400px) {
    .btn.filter {
        padding-left: 1.1rem;
        padding-right: 1.1rem;
    }
}

/* FOOTER */

footer {
    padding-top: 1%;
    background-color: #487498;
}

.social i {
    color: #00a9a9;
    font-size: 30px;
}

/* END FOOTER*/