@import url('https://fonts.googleapis.com/css?family=Lato|Pacifico|Righteous|Roboto+Condensed|Ubuntu');

body {
    padding: 0;
    margin: 0;
    font-family: 'Lato';
}

.navbar-brand {
    font-family: 'Pacifico';
    font-size: 35px;
    color: #30b9f0 !important;
}

.nav-link {
    font-size: 20px;
    margin: 15px;
    color: black !important;
    font-family: 'Roboto Condensed';
}

.nav-link:hover {
    color: #00a9a9 !important;
}

.active .nav-link {
    color: #00a9a9 !important;
}

.site-content {
    background-image: url("../images/about.jpg");
    background-attachment: fixed;
    background-size: cover;
}

.site-title, .site-desc {
    color: #ffffff;
    font-family: 'Righteous';
}

.site-title {
    margin-top: 20%;
    margin-bottom: 20%;
    font-size: 50px;
}

/* SECTION-1 */

.heading-1 {
    margin-top: 10%;
    font-family: 'Ubuntu';
}

.rounded {
    width: 100%;
    height: 80%;
    margin-top: 8%;
    border: solid 3px black;
}

.para-1 {
    margin-top: 3%;
    color: rgba(0,0,0,0.60);
}

.head-1 {
    font-family: 'Ubuntu';
    color: white;
    margin-top: 5%;
    padding-top: 5%;
}
/* END SECTION-1 */

/* SECTION-2 */

.card {
    margin-top: 20%;
    margin-bottom: 20%;
    background-color: rgba(142, 167, 187, 0.95);
    border: solid 2px black;
}

.card:hover {
    border: 1px solid;
    box-shadow: #487498 5px 5px 10px 0;
}

/* END SECTION-2*/
