body {
    background-color: lightblue;
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar-dark .navbar-nav .active>.nav-link{
    color: #000000;
}

.navbar-dark .navbar-nav .nav-link {
    color: #000000;
}

.navbar-dark .navbar-brand {
    font-size: 30px;
    color: #000000;
}

.nav-link {
    font-size: 30px;
}

.content {
    margin-top: 17px;
    margin-bottom: 35px;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 22px;
    text-align: center;
}

.parallax {
    height: 59vw;
    background-image: url('images/banner-1544x500.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    align-items: center;
    margin-left: 50px;
}