body {
    background-color: lightblue;
    background-size: cover;
    background-repeat: no-repeat;
}

.nav-link, .navbar-brand {
    color: #000000;
}

.navbar-brand {
    font-size: 30px;
    color: #000000;
}

.nav-link {
    font-size: 30px;
}

.content {
    margin-top: 17px;
    margin-bottom: 35px;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 22px;
    text-align: center;
}