body {
    background-image: url('images/abstract-art-artistic-1103970.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

.navbar-dark .navbar-nav .active>.nav-link{
    color: #1a767a;
}

.navbar-dark .navbar-nav .nav-link {
    color: #000000;
}

.navbar-dark .navbar-brand {
    font-size: 30px;
    color: #000000;
    font-weight: bold;
}

.nav-link {
    font-size: 35px;
    font-weight: bold;
}

p {
    font-size: 22px;
}

.rounded {
    height: 100%;
    width: 100%;
}

.lax {
    margin-top: 10%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 10%;
}

.parallax1 {
    background-image: url('images/cobblestone-earth-surface-granite-1029604.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    text-align: center;
    /*display: flex;*/
}

.parallax2 {
    background-image: url('images/beach-clouds-dawn-139975.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #000000;
    text-align: center;
    /*display: flex;*/
}

input[type=text] {
    width: 50%;
}